<div class="pokemonList">
  <div class="pokemonList__search">
  <input [(ngModel)]="filterValue" class="pokemonList__search" placeholder="Search...">
  
</div>
  <div class="grid">
    <div class="pokedex">
      <div class="box" *ngFor="let pokemon of (pokemon | filter:filterValue | paginate:page)">
        <img [src]="pokemon.sprites.front_default" alt="pokemonSprite" />
        <h3>{{ pokemon.name }}</h3>
        <p>Type:{{ pokemon.types[0].type.name }}</p>
      </div>
    </div>
  </div>
  <div class="pokemonList__page">
    <p>Página:</p>
    <input type="number" [(ngModel)]="page" class="pokemonList_page">
  </div>
</div>
