<div class="form-container" *ngIf="signupForm">
    <form [formGroup]="signupForm" (submit)="registerUser()">
        <div class="register__form">
            <label>Name</label>
            <input type="text" class="form-control" formControlName="name" placeholder="Enter name" required>
        </div>
        <div class="register__form">
            <label>Email address</label>
            <input type="email" class="form-control" formControlName="email" placeholder="Enter email" required>
        </div>
        <div class="register__form">
            <label>Password</label>
            <input type="password" class="form-control" formControlName="password" placeholder="Password" required>
        </div>
        <div class="register__button">
        <button type="submit">Sign up</button>
        </div>
    </form>
</div>
