<div *ngIf="loginForm" class="home">
  <form [formGroup]="loginForm" (submit)="loginUser()" class="home__form">
    <h2>Bienvenido, inicia sesión para para ver la pokédex</h2>

    <div class="home__email">
      <label>Email</label>
      <input type="email" formControlName="email" placeholder="Email" ngModel required
      />
    </div>

    <div class="home__password">
      <label>Password</label>
      <input type="password" formControlName="password" placeholder="password" ngModel required
      />
    </div>
     <div class="home__buttons">
    <button type="submit">Login</button>
    {{ error }}
    <p>¿No tienes una cuenta todavía? Registrate aquí</p>
    <button routerLink="/register">Register</button>
    </div>
  </form>
</div>
