<div *ngIf="loginForm" class="home">
    <form
        [formGroup]="loginForm"
        (submit)="loginUser()"
    >
        <div>
            <h2>Bienvenido, inicia sesión para para ver la pokédex</h2>
            <label>Email</label>
            <input type="email" formControlName="email" placeholder="Email" ngModel required>
        </div>
        <div>
            <label>Password</label>
            <input type="password" formControlName="password" placeholder="password" ngModel required>
        </div>
        <button type="submit">Login</button>
        {{ error }}
        <p>¿No tienes una cuenta todavía? Registrate aquí</p>
        <button routerLink="/register">Register</button>
    </form>
</div>